.conteiner {
    width: 500px; /* para darle un ancho al formulario */
    margin: 0 auto; /* para centrarlo en la página */
    padding: 20px; /* para darle un poco de espacio alrededor */
  }
  
  .titulo {
    display: block; /* para que cada label ocupe toda la línea */
    margin-bottom: 10px; /* para separar cada label del siguiente */
    background-color: red;
  }
  
  input, button {
    width: 100%; /* para que ocupen todo el ancho del formulario */
    padding: 10px; /* para darles un poco de espacio */
    margin-bottom: 20px; /* para separarlos entre sí */
  }
  
  .input {
    border: 1px solid #ccc; /* para darles un borde */
  }
  
.vovler {
    background-color: #333; /* para darle un color de fondo */
    color: white; /* para que el texto sea blanco */
    border: none; /* para quitarles el borde */
    cursor: pointer; /* para que el cursor cambie al pasar por encima */
  }