#home{
    background-image: url('https://w0.peakpx.com/wallpaper/293/155/HD-wallpaper-pokemon-pokemons.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 99.9vh;

}

#contenedor{
     backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.658);
    border-radius: 3rem;
    border-color: rgba(19, 255, 133, 0.584);
    border-style: double;
    border-width: 0.7rem;
    
    
}

    #cartas{
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        grid-template-rows: repeat(4, 0.07fr);
        grid-column-gap: 0px;
        grid-row-gap: 20px;
        position: relative;
        top: -1.8rem;
    }

#non-line{
    text-decoration: none;
}


#div_externo_selectores{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: rgb(255, 0, 0); */
    height: 3rem;
}

#div_interno_selectores{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: rgb(0, 238, 255); */
    height: 2.4rem;
    width: 34rem;
}



#button_recarga {
    text-decoration: none;
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    width: 5rem;
    height: 2em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg,#02b128,#0ebcf1,#00307d,#02b168);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
   }
   
   #button_recarga:hover {
    animation: ani 8s linear infinite;
    border: none;
   }
   
   @keyframes ani {
    0% {
     background-position: 0%;
    }
   
    100% {
     background-position: 400%;
    }
   }
   
   #button_recarga:before {
    content: '';
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#02b128,#0ebcf1,#00307d,#02b168);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
   }
   
   #button_recarga:hover::before {
    filter: blur(20px);
   }
   
   #button_recarga:active {
    background: linear-gradient(32deg,#02b128,#0ebcf1,#00307d,#02b168);
   }