.div{
  top: 0%;
    background-image: url('https://fondosmil.com/fondo/14707.png');
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.pokeTit{
    position: relative;
    top: 300px;
    color: #000802;
    text-transform: capitalize;
    margin-left: 33%;
    text-decoration-color: #e9f901;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 3.5rem;
    text-shadow: 5px -5px 10px rgb(213, 254, 7);
    background-color: #0168f985;
    width: 30%;
   
}

.pokemon{
    position: relative;
    color: #000000;
    text-transform: uppercase;
    display: flex;
    margin-left: 30%;
    top: 20rem;
    text-decoration-color: rgba(30, 173, 1, 0.803);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 3.5rem;
    text-shadow: 5px -5px 10px rgb(8, 199, 141);
}

.pokeButton {
  align-items: center;
  background-image: linear-gradient(144deg,#015fab, #37d407 50%,#bfff00);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(246, 248, 241, 0.353) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #060000;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  width: 23%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  top: 31rem;
  left: 33rem;
}

.pokeButton:active,
.pokeButton:hover {
  outline: 0;
}

.pokeButton span {
  background-color: rgb(191, 223, 7);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
 
}

.pokeButton:hover span {
  background: none;
}

@media (min-width: 768px) {
  .pokeButton {
    font-size: 20px;
    min-width: 10rem;
  }
}