.paginado {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.number-button-focus {
  box-shadow: inset 0 0 5px 3px rgb(86, 81, 81), inset 0 0 30px rgb(90, 87, 87);
}
.prevBtn,
.nextBtn {
  border: none;
  background-image: linear-gradient(to right, #07418e, #00b09b);
  color: rgb(252, 247, 247);
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}
.prevBtn:hover{
  color:black;
}



.nextBtn:hover {
  color:black;
}

i {
  margin-left: 10px;
}

.prevBtn {
  margin-right: 5px;
}

.numbered-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.number-button {
  border: none;
  border-radius: 40%;
  background-image: linear-gradient(to right, #00b09b, #96c93d);
  color: #000000;
  padding: 10px 20px;
  font-size: 14px;

  cursor: pointer;
  margin: 0 10px;
}
.number-button:hover {
  background-color: #007bff;
  color: rgb(246, 244, 244);
}
.number-button.active {
  background-color: #007bff;
  color: hwb(60 0% 2%);
}

.paginado:hover {
  color: rgb(253, 253, 253);
}
.paginado.active {
  background-color: hsl(66, 100%, 50%);
  color: rgb(255, 255, 255);
}
