

  .barraCaja {
    width: 50%; 
    margin: 0 auto; 
    position: relative;
    
  }
 

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .barra::placeholder {
    color: white;
  }

  .barra {
    margin: 10px;
    width: 90%; 
    padding: 12px 20px; 
    border: 2px solid rgba(91, 83, 83, 0.611); 
    border-radius: 40px; 
    font-size: 16px; 
    transition: width 0.4s ease-in-out; 
    animation: fadeIn 1s ease-out;
    background-color: rgba(247, 243, 243, 0.326);
    color: rgb(8, 0, 0);
    overflow: hidden;
  }

  
  
  
  
  .barra:focus {
    width: 95%; 
    border-color: #888;
    outline: none;
    color: white;
    
  }

  /* .barra.open {
    
   transition: opacity 0.2s ease-out;
  } */
  
  .button {
   /* display: flex; */
    /* position: relative; */
   letter-spacing: 1px;
    width: 50px;
    top: -250px;
    left: -625px;
    bottom: 0;
    height: 35px;
    color: #f39107;
    background-color: rgb(234, 128, 67);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    /* background-image: linear-gradient(
    to right,
    ,
    #db2d06
  );  */
    /* background-color: rgba(219, 210, 210, 0.866);  */
    border: none; 
    padding: 5px 15px;
    border-radius: 50px; 
    cursor: pointer; 
    overflow: hidden;
  }

  .button:hover {
    background-color: #e4dcd0;
  }

  .lupa {
    width: 10%;
    top: 35px;
    right: 0;
    bottom: 0;
    font-size: 20px;
    position: absolute;
    background-color: rgba(219, 210, 210, 0); 
    color: rgb(8, 0, 0); 
    border: none; 
    padding: 10px 15px;
    border-radius: 20px; 
    cursor: pointer; 
   
  }
  
  